* {
  box-sizing: border-box;
}

html, body {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: map-get($palette, "background");
  color: map-get($palette, "text");
}

h1 {
  color: map-get($palette, "accent");
}
