/*
    basic utility
*/

$zindex: (
  hell:           -9999,
  below:             -1,
  zero:               0,
  baseline:           1,
  dropdown:         100,
  sticky:           200,
  fixed:            500,
  modal-backdrop:   999,
  modal:           1000,
  popover:         1060,
  tooltip:         1070,
  heaven:          9999
);

$directions: (top, right, bottom, left);

/*
    grid
*/

$cols: 12 !default;
$default-smallest-col-width: 1fr !default;

$gutter: (
  "desktop":    16px,
  "mobile":     4px,
);

$grid-gap: (
  "desktop":    16px,
  "mobile":     4px,
);

$content-padding: (
  "desktop":    16px,
  "mobile":     4px,
);

$screen-widths: (
  "all":        1px,
  "mobile":     480px,
  "portrait":   768px,
  "landscape":  1024px,
  "desktop":    1366px,
  "widescreen": 1920px,
);

$grid-widths: (
  "all":        map-get($screen-widths, "mobile")     - (2 * map-get($gutter, "mobile")),
  "mobile":     map-get($screen-widths, "mobile")     - (2 * map-get($gutter, "mobile")),
  "portrait":   map-get($screen-widths, "portrait")   - (2 * map-get($gutter, "mobile")),
  "landscape":  map-get($screen-widths, "landscape")  - (2 * map-get($gutter, "desktop")),
  "desktop":    map-get($screen-widths, "desktop")    - (2 * map-get($gutter, "desktop")),
  "widescreen": map-get($screen-widths, "widescreen") - (2 * map-get($gutter, "desktop")),
);

/*
    design implementation
*/

$palette: (
  "background": #202C39,
  "bg-stripe":  #283845,
  "text":       #F2D492,
  "text-dark":  #B8B08D,
  "accent":     #F29559
);
